<form name="editForm" role="form" novalidate ng-submit="save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myOutNewsMessageItemLabel" translate="sandboxApp.outNewsMessageItem.home.createOrEditLabel">Create or edit a OutNewsMessageItem</h4>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label>ID</label>
            <input type="text" class="form-control" name="id"
                   ng-model="outNewsMessageItem.id" readonly>
        </div>

        <div class="form-group">
            <label translate="sandboxApp.outNewsMessageItem.picUrl">PicUrl</label>
            <input type="text" class="form-control" name="picUrl"
                   ng-model="outNewsMessageItem.picUrl" ng-maxlength="1000">

            <div ng-show="editForm.picUrl.$invalid">
                <p class="help-block"
                   ng-show="editForm.picUrl.$error.maxlength" translate="entity.validation.maxlength" translate-value-max="1000">
                    This field cannot be longer than 1000 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label translate="sandboxApp.outNewsMessageItem.url">Url</label>
            <input type="text" class="form-control" name="url"
                   ng-model="outNewsMessageItem.url" ng-maxlength="1000">

            <div ng-show="editForm.url.$invalid">
                <p class="help-block"
                   ng-show="editForm.url.$error.maxlength" translate="entity.validation.maxlength" translate-value-max="1000">
                    This field cannot be longer than 1000 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label translate="sandboxApp.outNewsMessageItem.content">Content</label>
            <input type="text" class="form-control" name="content"
                   ng-model="outNewsMessageItem.content" ng-maxlength="1000">

            <div ng-show="editForm.content.$invalid">
                <p class="help-block"
                   ng-show="editForm.content.$error.maxlength" translate="entity.validation.maxlength" translate-value-max="1000">
                    This field cannot be longer than 1000 characters.
                </p>
            </div>
        </div>

        <div class="form-group">
            <label translate="sandboxApp.outNewsMessageItem.userInfo">userInfo</label>
            <select class="form-control" multiple name="userInfo" ng-model="outNewsMessageItem.userInfos" ng-options="userInfo as userInfo.nickname for userInfo in userinfos track by userInfo.id">
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>