/* line 4, ../sass/_topnav.scss */
body {
  margin-top: 100px;
}

/* line 7, ../sass/_topnav.scss */
.wrapper {
  width: 100%;
}

/* line 10, ../sass/_topnav.scss */
.page-wrapper {
  width: 100%;
  padding: 0;
  background: #f8f8f8;
  overflow: hidden;
}

@media (min-width: 768px) {
  /* line 17, ../sass/_topnav.scss */
  body {
    margin-top: 50px;
  }

  /* line 20, ../sass/_topnav.scss */
  .wrapper {
    padding-left: 225px;
  }

  /* line 23, ../sass/_topnav.scss */
  .nowrapper {
    padding-left: 0px;
  }

  /* line 26, ../sass/_topnav.scss */
  .page-wrapper {
    padding: 20px 10px 10px 10px;
  }
}
/* line 31, ../sass/_topnav.scss */
.navbar-toggle {
  border: 1px solid #f8f8f8;
  background: transparent;
}
/* line 34, ../sass/_topnav.scss */
.navbar-toggle .icon-bar {
  background: #fff;
  opacity: 0.6;
}

/* line 42, ../sass/_topnav.scss */
.main-header {
  background-color: #3c8dbc;
}

/* line 45, ../sass/_topnav.scss */
.navbar-header a.navbar-brand {
  color: #fff;
  font-size: 24px;
}

/* line 54, ../sass/_topnav.scss */
.top-nav {
  padding: 0 15px;
}
/* line 56, ../sass/_topnav.scss */
.top-nav > li {
  display: inline-block;
  float: left;
}
/* line 59, ../sass/_topnav.scss */
.top-nav > li > a {
  padding-top: 15px;
  padding-bottom: 15px;
  line-height: 20px;
  color: #fff;
}
/* line 64, ../sass/_topnav.scss */
.top-nav > li > a:hover, .top-nav > li > a:focus {
  color: #fff;
  background: rgba(0, 0, 0, 0.1);
}

/* line 73, ../sass/_topnav.scss */
.top-nav > .open > a {
  color: #fff;
  background: rgba(0, 0, 0, 0.1);
}
/* line 75, ../sass/_topnav.scss */
.top-nav > .open > a:hover, .top-nav > .open > afocus {
  color: #fff;
  background: rgba(0, 0, 0, 0.1);
}

/* line 92, ../sass/_topnav.scss */
.top-nav > .open > .dropdown-menu {
  float: left;
  position: absolute;
  margin-top: 0;
  border: 1px solid rgba(230, 240, 230, 0.6);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  background: #fff;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.175) inset;
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.175) inset;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.175) inset;
}
/* line 102, ../sass/_topnav.scss */
.top-nav > .open > li > a {
  white-space: normal;
}

@media (min-width: 768px) {
  /* line 7, ../sass/_sidebar.scss */
  .side-nav {
    position: fixed;
    top: 51px;
    left: 225px;
    width: 225px;
    margin-left: -225px;
    background: #222d32;
    overflow-x: hidden;
    overflow-y: auto;
    bottom: 0;
    padding-bottom: 40px;
  }
  /* line 18, ../sass/_sidebar.scss */
  .side-nav > li > a {
    width: 225px;
  }
}
/* line 24, ../sass/_sidebar.scss */
.side-nav > li > a {
  color: #f8f8f8;
}
/* line 26, ../sass/_sidebar.scss */
.side-nav > li > a:hover, .side-nav > li > a:focus {
  color: #f8f8f8;
  background: #1e282c;
}

/* line 32, ../sass/_sidebar.scss */
.side-nav > li:hover > a,
.side-nav > li.active > a {
  color: #fff;
  background: #1e282c;
  border-left-color: #3c8dbc;
}

/* line 39, ../sass/_sidebar.scss */
.side-nav > li > ul {
  padding: 0;
  background: #2c3b41;
}
/* line 42, ../sass/_sidebar.scss */
.side-nav > li > ul > li > a {
  display: block;
  padding: 10px 15px 10px 38px;
  text-decoration: none;
  color: #8aa4af;
}
/* line 47, ../sass/_sidebar.scss */
.side-nav > li > ul > li > a:hover {
  color: #fff;
}
/* line 52, ../sass/_sidebar.scss */
.side-nav > li > ul > li > ul > li > a {
  display: block;
  padding: 10px 15px 10px 10px;
  text-decoration: none;
  color: #8aa4af;
}
/* line 57, ../sass/_sidebar.scss */
.side-nav > li > ul > li > ul > li > a:hover {
  color: #fff;
}

/* line 63, ../sass/_sidebar.scss */
.side-nav .arrow {
  float: right;
}

/* line 68, ../sass/_sidebar.scss */
.side-nav li a.collapsed > span.fa.arrow:before {
  content: "\f107";
  color: #fff;
}
/* line 72, ../sass/_sidebar.scss */
.side-nav li a > span.fa.arrow:before {
  content: "\f106";
  color: #fff;
}

/* line 21, ../sass/_grid.scss */
.table-responsive {
  margin-top: 20px;
}

/* line 25, ../sass/_grid.scss */
.btn-entity {
  margin: 0px 3px;
}

/* line 28, ../sass/_grid.scss */
.ag-fresh .ag-header-container {
  background-color: #eee;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#fff));
  background-image: -webkit-linear-gradient(top, #eee, #fff);
  background-image: -moz-linear-gradient(top, #eee, #fff);
  background-image: -ms-linear-gradient(top, #eee, #fff);
  background-image: -o-linear-gradient(top, #eee, #fff);
  background-image: linear-gradient(to bottom, #eeeeee, #ffffff);
  filter: progid:DXImageTransform.Microsoft.gradient(start-colourStr='#eee', end-colourStr='#fff');
  border-bottom: 1px solid #ccc;
}

/* line 32, ../sass/_grid.scss */
.ag-fresh .ag-paging-button {
  background-color: #3498db;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#3498db), to(#2980b9));
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  filter: progid:DXImageTransform.Microsoft.gradient(start-colourStr='#3498db', end-colourStr='#2980b9');
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  color: #fff;
  font-size: 14px;
  padding: 5px 8px;
  text-decoration: none;
  border: none;
}
/* line 40, ../sass/_grid.scss */
.ag-fresh .ag-paging-button:hover {
  background-color: #3cb0fd;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#3cb0fd), to(#3498db));
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  filter: progid:DXImageTransform.Microsoft.gradient(start-colourStr='#3cb0fd', end-colourStr='#3498db');
}

/* line 47, ../sass/_grid.scss */
.ag-fresh .ag-root {
  border: 1px solid #ccc;
}
/* line 51, ../sass/_grid.scss */
.ag-fresh .ag-header-cell {
  border-right: 1px solid #ccc;
}
/* line 55, ../sass/_grid.scss */
.ag-fresh .ag-paging-panel {
  background: #fff;
}

/* line 10, ../sass/_form.scss */
.modal-body .form-control {
  border-radius: 3px;
}
